@font-face {
  font-family: 'OfficeTypeSansC';
  src: url('../fonts/OfficeTypeSansC-Bold.woff2') format('woff2'),
      url('../fonts/OfficeTypeSansC-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OfficeTypeSansC';
  src: url('../fonts/OfficeTypeSansC.woff2') format('woff2'),
      url('../fonts/OfficeTypeSansC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}





@font-face {
  font-family: 'PFDinTextCompPro';
  src: url('../fonts/PFDinTextCompPro-Bold.woff2') format('woff2'),
      url('../fonts/PFDinTextCompPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextCompPro';
  src: url('../fonts/PFDinTextCompPro-Regular.woff2') format('woff2'),
      url('../fonts/PFDinTextCompPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextCompPro';
  src: url('../fonts/PFDinTextCompPro-Light.woff2') format('woff2'),
      url('../fonts/PFDinTextCompPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextCompPro';
  src: url('../fonts/PFDinTextCompPro-Medium.woff2') format('woff2'),
      url('../fonts/PFDinTextCompPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}