footer.footer
  .container
    .footer__content
      .row
        .col-xs-6
          .footer__logo
            img(src="img/logo-copy.svg")
            .footer__confidentiality
              p 2018 © Предприятие БАРКАБ.
              a(href="#") Политика конфиденциальности
        .col-xs-6
          a(href="#").footer__creator
            .footer__creator__text
              p Сайт сделали в  2018 году
              span в Студии Бакина
            .footer__creator__logo
              img(src="img/fill-1.svg")
          .up#menu1
            a(href="#intro")
              i.icon.icon-up
              
