//BEGIN header
header.header
  .container
    .row.middle-xs
      .col-xs-4
        .menu-open
          span
      .col-xs-4.center-xs
        a(href="#intro").menu2.header__logo
          img(src="img/logo.svg", alt="")
      .col-xs-4.end-xs
        a(href="tel:+78136751999") +7 (813) 67-51-999
//END header
