//BEGIN header
header.header
  .container
    .row.middle-xs
      .col-xs-6 
        .menu-open
          span
      .col-xs-6.end-xs
        a(href="tel:+78136751999") +7 (813) 67-51-999
//END header
