.menu
  .menu__content#menu
    ul
      li
        a(href="#status") Производственные мощности
      li
        a(href="#standards") Изготовление барабанов
      li
        a(href="#fabrication") Предприятие полного цикла
      li
        a(href="#delivery") Доставка барабанов
      li
        a(href="#geography") География
      li
        a(href="#reliability") Надежное сотрудничество
      li
        a(href="#contacts") Контакты
    a(href="#cooperation").menu2.btn.btn--menu Коммерческое предложение
.pop-up__bg
.pop-up#pop-up
  .pop-up__content
    .pop-up__close
      span
    img()


.pop-up.pop-up__video#pop-up__video
  .pop-up__content
    .pop-up__close
      span
    iframe(src="")
