.pop-up
  .pop-up__content#menu
    ul
      li
        a(href="#status") Производственные мощности
      li
        a(href="#standards") Изготовление барабанов
      li
        a(href="#fabrication") Предприятие полного цикла
      li
        a(href="#delivery") Доставка барабанов
      li
        a(href="#geography") География
      li
        a(href="#reliability") Надежное сотрудничество
      li
        a(href="#contacts") Контакты
    a(href="#").btn Коммерческое предложение
