.fabrication
  padding-bottom: 110px
  img
    width: 290px
    opacity: 0
    position: relative
    left: -100px
    &.odd
      left: auto
      right: -100px
  &__step
    top: -100px
    position: relative
    opacity: 0
    h3
      font-size: 30px
      font-weight: bold
      color: $crimson
    p
      font-size: 27px
      line-height: 1.2  
      color: $brownish-grey
