.fabrication
  padding-bottom: 110px
  img
    width: 290px
  &__step
    h3
      font-size: 30px
      font-weight: bold
      color: $crimson
    p
      font-size: 27px
      line-height: 1.2  
      color: $brownish-grey
