.intro
  background: url('../img/intro--bg.png') no-repeat
  background-size: cover
  padding: 80px 0
  padding-top: 110px
  h1
    font-family: 'PFDinTextCompPro'
    font-size: 70px
    font-weight: 500
    color: $crimson
    margin-top: 60px
    margin-bottom: 50px
  p
    font-size: 30px
    line-height: 1.2
    color: $brownish-grey
    margin-bottom: 170px
    b
      font-weight: bold
  span
    display: block
    font-size: 14px
    text-align: center
    color: $white
    margin-top: 10px
    position: relative
    z-index: 5
