.map
  position: relative
  display: flex
  align-items: center
  #map
    height: 500px
    width: 100%
    z-index: 4
  .contacts
    position: absolute
    left: 135px
    z-index: 5
    border-radius: 9px
    background-color: $white
    box-shadow: 0 5px 10px 0 rgba(138, 1, 14, 0.15)
    max-width: 370px
    width: 100%
    padding: 20px
    h2
      font-size: 30px
      font-weight: bold
      color: $crimson
      margin-bottom: 20px
    span
      font-size: 18px
      color: $pinkish-grey
      display: block
    p, a
      font-size: 18px
      line-height: 1.33
      color: $brownish-grey
      display: block
      padding-bottom: 20px

