.standards
  padding-bottom: 100px
  &__content
    max-height: 360px
    margin-bottom: 50px
  &__calculator
    display: flex
    align-items: center
    height: 100%
    &__range
      position: relative
      input[type="range"]
        width: 100% !important
    &__info
      h4
        font-family: 'OfficinaSansC'
        font-size: 30px
        font-weight: bold
        color: $crimson
        margin-bottom: 20px
      p
        font-size: 18px
        line-height: 1.33
        color: $brownish-grey
        span
          color: $crimson
  &__img
    margin-left: 70px
    img
      height: 360px
      &:last-child
        height: 190px
        margin-left: 50px
  &__description
    p
      font-size: 30px
      line-height: 1.2
      text-align: center
      color: $brownish-grey
      margin-bottom: 50px