.standards
  padding-bottom: 100px
  &__content
    max-height: 360px
    margin-bottom: 50px
    +r(767)
      max-height: 100%
  &__calculator
    display: flex
    align-items: center
    height: 100%
    +r(767)
      flex-wrap: wrap
      height: auto
    +r(380)
      flex-wrap: nowrap
    &__range
      position: relative
      width: 50px
      height: 100%
      padding-left: 10px
      +r(767)
        height: 250px
        margin-left: 20px
      +r(380)
        margin-left: 0
      input[type="range"]
        width: 100% !important
      .rangeslider
        border-radius: 3px
        background: $brownish-grey
        width: 4px
        height: 100%
      .rangeslider__fill
        border-radius: 3px
        background: $pale-gold
        height: 100%
      .rangeslider__handle
        width: 30px 
        height: 10px
        border-radius: 3px
        background: $pale-gold
        box-shadow: 0 2px 4px 0 rgba(138, 1, 14, 0.15)
        border: none
        left: -13px
      .rangeslider__handle:after
        display: none
    &__info
      max-width: 280px
      width: 100%
      margin-left: 50px
      +r(500)
        margin-left: 10px
        width: auto
      +r(380)
        margin-left: 0
      h4
        font-family: 'OfficinaSansC'
        font-size: 30px
        font-weight: bold
        color: $crimson
        margin-bottom: 20px
        min-height: 75px
        +r(380) 
          font-size: 25px
      p
        font-size: 18px
        line-height: 1.33
        color: $brownish-grey
        +r(380)
          font-size: 15px
        span
          color: $crimson
          margin-right: 4px
  &__img
    margin-left: 80px
    +r(850)
      margin-left: 25px
    +r(767)
      margin-top: 40px
      width: 100%
      display: flex
      justify-content: center
      align-items: flex-end
    +r(440)
      display: none
    img
      height: 360px
      &:last-child
        height: 190px
        margin-left: 50px
  &__description
    display: flex
    flex-direction: column
    align-items: center
    p
      font-size: 30px
      line-height: 1.2
      text-align: center
      color: $brownish-grey
      margin-bottom: 50px
      max-width: 970px
      +r(767)
        font-size: 22px