include _mixins
doctype html
html
  head
    include _head

  body(class=bodyClass)
    //BEGIN out
    .out(class=outClass)
      block header
        include ../partials/_header
      block content
      block footer
        include ../partials/_footer
    //END out

    //LOAD SCRIPTS
    block scripts
      script(src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js")
      script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqaEhbhFZcgAfB-gEBiQKx4ArTSfzZDDA")
      script(type="text/javascript" src="js/app.js")
