.icon-arrow {
  width: 1em;
  height: 1em;
  fill: #FECC66;
}
.icon-calendar-copy {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-pin {
  width: 0.81em;
  height: 1em;
  fill: none;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-up {
  width: 1em;
  height: 1em;
  fill: none;
}
