section.advantages
  .container
    .row.center-xs
      .col-xs-12
        .heading
          h2 Преимущества нашей доставки
      .col-md-4.col-sm-6.col-xs-12
        .advantages__block
          .advantages__block__img
            img(src="img/clock.svg")
          .advantages__block__text
            p Экономия времени на поиски транспортной компании
      .col-md-4.col-sm-6.col-xs-12
        .advantages__block
          .advantages__block__img
            img(src="img/sale.svg")
          .advantages__block__text
            p Цена доставки ниже, чем у транспортных компаний на 20-40 %
      .col-md-4.col-sm-6.col-xs-12
        .advantages__block
          .advantages__block__img
            img(src="img/calendar-copy.svg")
          .advantages__block__text
            p Стоимость доставки включена в цену барабана
      .col-md-4.col-sm-6.col-xs-12
        .advantages__block
          .advantages__block__img
            img(src="img/calendar.svg")
          .advantages__block__text
            p Оперативная доставка в согласованный срок
      .col-md-4.col-sm-6.col-xs-12
        .advantages__block
          .advantages__block__img
            img(src="img/calendar-copy-2.svg")
          .advantages__block__text
            p Доставим барабаны<br> до №33 включительно