section.delivery
  .container
    .row
      .col-xs-12
        .heading
          h2 Доставка барабанов
          p Наличие собственного автотранспорта позволяет оперативно доставлять комплект барабанов заказчику и снижать стоимость заказа.
      .col-xs-12
        .delivery__quantity
        
      .col-xs-12.center-xs
        .delivery__info
          p Мы рассчитываем каждую погрузку индивидуально и предоставляем выгодные условия по доставке.
          a(href="#").btn Коммерческое предложение
