section.delivery#delivery
  .container
    .row
      .col-xs-12
        .heading
          h2 Доставка барабанов
          p Наличие собственного автотранспорта позволяет оперативно доставлять комплект барабанов заказчику и снижать стоимость заказа.
  .swiper-container.swiper-delivery 
    .swiper-wrapper
      .swiper-slide
        h4 БАРАБАН №8 ГОСТ 5151-79
        p 450 комплектов (в разобранном виде) или 200 собранных барабанов с доставкой до места в прицепе типа «Еврофура»
      .swiper-slide
        h4 БАРАБАН №10 ГОСТ 5151-79
        p 230 комплектов (в разобранном виде) или 90 собранных барабанов с доставкой до места в прицепе типа «Еврофура»
      .swiper-slide
        h4 БАРАБАН №12 ГОСТ 5151-79
        p 170 комплектов (в разобранном виде) или 60 собранных барабанов с доставкой до места в прицепе типа «Еврофура»
      .swiper-slide
        h4 БАРАБАН №14 ГОСТ 5151-79
        p 90 комплектов (в разобранном виде) или 36 собранных барабанов с доставкой до места в прицепе типа «Еврофура»
      .swiper-slide
        h4 БАРАБАН №16 ГОСТ 5151-79
        p 70 комплектов (в разобранном виде) или 30 собранных барабанов с доставкой до места в прицепе типа «Еврофура»
      .swiper-slide
        h4 БАРАБАН №18 ГОСТ 5151-79
        p 50 комплектов (в разобранном виде) или 18 собранных барабанов с доставкой до места в прицепе типа «Еврофура»
      .swiper-slide
        h4 БАРАБАН №20 ГОСТ 5151-79
        p 30 комплектов (в разобранном виде) или 12 собранных барабанов с доставкой до места в прицепе типа «Еврофура»
      .swiper-slide
        h4 БАРАБАН №22 ГОСТ 5151-79
        p 28 комплектов (в разобранном виде) с доставкой до места в прицепе типа «Еврофура» 
      .swiper-slide
        h4 БАРАБАН №25 ГОСТ 5151-79
        p 16 комплектов (в разобранном виде) с доставкой до места в прицепе типа «Еврофура»
      .swiper-slide
        h4 Барабан №28Д ТУ
        p 10 комплектов (в разобранном виде) с доставкой до места в прицепе типа «Еврофура»
      .swiper-slide
        h4 БАРАБАН №30 ГОСТ 5151-79
        p 8 комплектов (в разобранном виде) с доставкой до места в прицепе типа «Еврофура»
      .swiper-slide
        h4 БАРАБАН №325 ДСТ ТУ
        p 4 комплектов (в разобранном виде) с доставкой до места в прицепе типа «Еврофура»
      .swiper-slide
        h4 БАРАБАН №33Д ТУ
        p 4 комплектов (в разобранном виде) с доставкой до места в прицепе типа «Еврофура»
    .swiper-button-next.swiper-delivery-next
      img(src="img/arrow.png", alt="")
    .swiper-button-prev.swiper-delivery-prev
      img(src="img/arrow.png", alt="")
  .delivery__truck
    .container
      img(src="img/truck-full-4.png" srcset="img/truck-full-4@2x.png 2x, img/truck-full-4@3x.png 3x")
      .delivery__truck__block.number-20
        span №20
        .delivery__truck__block__text
          h4 Барабан №20
          p ГОСТ 5151-79 30 комплектов (в разобранном виде) или 12 собранных барабанов с доставкой до места в прицепе типа «Еврофура»
      .delivery__truck__block.number-8
        span №8
        .delivery__truck__block__text
          h4 Барабан №8
          p ГОСТ 5151-79 450 комплектов (в разобранном виде) или 200 собранных барабанов с доставкой до места в прицепе типа «Еврофура»
      .delivery__truck__block.number-22
        span №22
        .delivery__truck__block__text
          h4 Барабан №22
          p ГОСТ 5151-79 28 комплектов (в разобранном виде) с доставкой до места в прицепе типа «Еврофура» 
      .delivery__truck__block.number-10
        span №10
        .delivery__truck__block__text
          h4 Барабан №10
          p ГОСТ 5151-79 230 комплектов (в разобранном виде) или 90 собранных барабанов с доставкой до места в прицепе типа «Еврофура»
      .delivery__truck__block.number-25
        span №25
        .delivery__truck__block__text
          h4 Барабан №25
          p ГОСТ 5151-79 16 комплектов (в разобранном виде) с доставкой до места в прицепе типа «Еврофура»
      .delivery__truck__block.number-12
        span №12
        .delivery__truck__block__text
          h4 Барабан №12
          p ГОСТ 5151-79 170 комплектов (в разобранном виде) или 60 собранных барабанов с доставкой до места в прицепе типа «Еврофура»
      .delivery__truck__block.number-28
        span №28Д
        .delivery__truck__block__text
          h4 Барабан №28Д ТУ
          p 10 комплектов (в разобранном виде) с доставкой до места в прицепе типа «Еврофура»
      .delivery__truck__block.number-14
        span №14
        .delivery__truck__block__text
          h4 Барабан №14
          p ГОСТ 5151-79 90 комплектов (в разобранном виде) или 36 собранных барабанов с доставкой до места в прицепе типа «Еврофура»
      .delivery__truck__block.number-30
        span №30
        .delivery__truck__block__text
          h4 Барабан №30
          p ГОСТ 5151-79 8 комплектов (в разобранном виде) с доставкой до места в прицепе типа «Еврофура»
      .delivery__truck__block.number-16
        span №16
        .delivery__truck__block__text
          h4 Барабан №16
          p ГОСТ 5151-79 70 комплектов (в разобранном виде) или 30 собранных барабанов с доставкой до места в прицепе типа «Еврофура»
      .delivery__truck__block.number-325
        span №325
        .delivery__truck__block__text
          h4 Барабан №325
          p ДСТ ТУ 4 комплектов (в разобранном виде) с доставкой до места в прицепе типа «Еврофура»
      .delivery__truck__block.number-18
        span №18
        .delivery__truck__block__text
          h4 Барабан №18
          p ГОСТ 5151-79 50 комплектов (в разобранном виде) или 18 собранных барабанов с доставкой до места в прицепе типа «Еврофура»
      .delivery__truck__block.number-33
        span №33Д
        .delivery__truck__block__text
          h4 Барабан №33Д
          p 4 комплектов (в разобранном виде) с доставкой до места в прицепе типа «Еврофура»
  .container
    .row
      .col-xs-12.center-xs
        .delivery__info
          span *для каждого заказа расчёт производится индивидуально
          p Мы рассчитываем каждую погрузку индивидуально и предоставляем выгодные условия по доставке.
          a(href="#cooperation").menu2.btn Коммерческое предложение
