section.fabrication#fabrication
  .container
    .row.middle-xs
      .col-xs-12
        .heading
          h2 Предприятие полного производственного цикла
          p Предприятие <span>БАРКАБ</span> изготавливает деревянные барабаны любой сложности по индивидуальному проекту  
      .col-xs-4.center-xs#trigger
        img(src="img/step-1.svg")#animate
      .col-xs-4.center-xs
        .fabrication__step#animate-text
          h3 Этап 1 
          p Собственное производство доски.
      .col-xs-4
      .col-xs-4.col-xs-offset-4.center-xs
        .fabrication__step#animate-text1
          h3 Этап 2
          p Изготовление деревянных элементов: щёк, шеечной доски, сегментов.
      .col-xs-4.center-xs#trigger1
        img(src="img/step-2.svg").odd#animate1
      .col-xs-4.center-xs#trigger2
        img(src="img/step-3.svg")#animate2
      .col-xs-4.center-xs
        .fabrication__step#animate-text2
          h3 Этап 3
          p Собственное производство металлических элементов: шпилек, пластин и втулок.
      .col-xs-4
      .col-xs-4.col-xs-offset-4.center-xs
        .fabrication__step#animate-text3
          h3 Этап 4
          p Обеззараживание изделий и маркировка по стандарту ISPM 15.
      .col-xs-4.center-xs#trigger3
        img(src="img/step-4.svg").odd#animate3
      .col-xs-4.center-xs#trigger4
        img(src="img/step-5.svg")#animate4
      .col-xs-4.center-xs
        .fabrication__step#animate-text4
          h3 Этап 5
          p Сборка изделий, нанесение маркировки и логотипа, покраска (по запросу).
      .col-xs-4
      .col-xs-4.col-xs-offset-4.center-xs
        .fabrication__step#animate-text5
          h3 Этап 6
          p Доставка заказчику.
      .col-xs-4.center-xs#trigger5
        img(src="img/step-6.svg").odd#animate5