section.fabrication#fabrication
  .container
    .row.middle-xs
      .col-xs-12
        .heading
          h2 Предприятие полного производственного цикла
          p Предприятие <span>БАРКАБ</span> изготавливает деревянные барабаны любой сложности по индивидуальному проекту  
      .col-md-4.col-sm-6.col-xs-12.center-xs
        img(src="img/step-1.svg").wow.fadeInLeft(data-wow-offset="250")
      .col-md-4.col-sm-6.col-xs-12.center-xs
        .fabrication__step.wow.fadeInDown(data-wow-offset="100")
          h3 Этап 1 
          p Собственное производство доски.
      .col-md-4
    .row.middle-xs
      .col-md-4.col-sm-6.col-xs-12.col-md-offset-4.first-sm.center-xs
        .fabrication__step.wow.fadeInDown(data-wow-offset="100")
          h3 Этап 2
          p Изготовление деревянных элементов: щёк, шеечной доски, сегментов.
      .col-md-4.col-sm-6.col-xs-12.first-xs.center-xs
        img(src="img/step-2.svg").wow.fadeInRight(data-wow-offset="250").odd
    .row.middle-xs
      .col-md-4.col-sm-6.col-xs-12.center-xs
        img(src="img/step-3.svg").wow.fadeInLeft(data-wow-offset="250")
      .col-md-4.col-sm-6.col-xs-12.center-xs
        .fabrication__step.wow.fadeInDown(data-wow-offset="100")
          h3 Этап 3
          p Собственное производство металлических элементов: шпилек, пластин и втулок.
      .col-md-4
    .row.middle-xs
      .col-md-4.col-sm-6.col-xs-12.col-md-offset-4.first-sm.center-xs
        .fabrication__step.wow.fadeInDown(data-wow-offset="100")
          h3 Этап 4
          p Обеззараживание изделий и маркировка по стандарту ISPM 15.
      .col-md-4.col-sm-6.col-xs-12.first-xs.center-xs
        img(src="img/step-4.svg").wow.fadeInRight(data-wow-offset="250").odd
    .row.middle-xs
      .col-md-4.col-sm-6.col-xs-12.center-xs
        img(src="img/step-5.svg").wow.fadeInLeft(data-wow-offset="250")
      .col-md-4.col-sm-6.col-xs-12.center-xs
        .fabrication__step.wow.fadeInDown(data-wow-offset="100")
          h3 Этап 5
          p Сборка изделий, нанесение маркировки и логотипа, покраска (по запросу).
      .col-md-4
    .row.middle-xs
      .col-md-4.col-sm-6.col-xs-12.col-md-offset-4.first-sm.center-xs
        .fabrication__step.wow.fadeInDown(data-wow-offset="100")
          h3 Этап 6
          p Доставка заказчику.
      .col-md-4.col-sm-6.col-xs-12.first-xs.center-xs
        img(src="img/step-6.svg").wow.fadeInRight(data-wow-offset="300").odd