section.fabrication
  .container
    .row.middle-xs
      .col-xs-12
        .heading
          h2 Предприятие полного производственного цикла
          p Предприятие <span>БАРКАБ</span> изготавливает деревянные барабаны любой сложности по индивидуальному проекту  
      .col-xs-4
        img(src="img/step-1.svg")
      .col-xs-4.center-xs
        .fabrication__step
          h3 Этап 1 
          p Собственное производство доски.
      .col-xs-4
      .col-xs-4.col-xs-offset-4.center-xs
        .fabrication__step
          h3 Этап 2
          p Изготовление деревянных элементов: щёк, шеечной доски, сегментов.
      .col-xs-4
        img(src="img/step-2.svg")
      .col-xs-4
        img(src="img/step-3.svg")
      .col-xs-4.center-xs
        .fabrication__step
          h3 Этап 3
          p Собственное производство металлических элементов: шпилек, пластин и втулок.
      .col-xs-4
      .col-xs-4.col-xs-offset-4.center-xs
        .fabrication__step
          h3 Этап 4
          p Обеззараживание изделий и маркировка по стандарту ISPM 15.
      .col-xs-4
        img(src="img/step-4.svg")
      .col-xs-4
        img(src="img/step-5.svg")
      .col-xs-4.center-xs
        .fabrication__step
          h3 Этап 5
          p Сборка изделий, нанесение маркировки и логотипа, покраска (по запросу).
      .col-xs-4
      .col-xs-4.col-xs-offset-4.center-xs
        .fabrication__step
          h3 Этап 6
          p Доставка заказчику.
      .col-xs-4
        img(src="img/step-6.svg")