section.gallery
  .swiper-container.swiper-gallery
    .swiper-wrapper
      .swiper-slide(style="background-image: url(img/dsc-00434.png)")
        p Погрузка комплектов барабанов в прицеп типа «Еврофура»
      .swiper-slide(style="background-image: url(img/dsc-00434.png)")
        p Погрузка комплектов барабанов в прицеп типа «Еврофура»
      .swiper-slide(style="background-image: url(img/dsc-00434.png)")
        p Погрузка комплектов барабанов в прицеп типа «Еврофура»
    .swiper-button-next.swiper-gallery-next
      img(src="img/arrow.png", alt="")
    .swiper-button-prev.swiper-gallery-prev
      img(src="img/arrow.png", alt="")
    .swiper-pagination