section.gallery
  .swiper-container.swiper-gallery
    .swiper-wrapper
      .swiper-slide(style="background-image: url(img/01.jpg)")
        p Барабан № 28 Д, производства «Баркаб», с намотанным кабелем
      .swiper-slide(style="background-image: url(img/02.jpg)")
        p Погрузка комплектов барабанов № № 10 и 12, производства «Баркаб», в прицеп типа «ЕВРОФУРА»
      .swiper-slide(style="background-image: url(img/03.jpg)")
        p Погрузка комплектов барабанов № № 8, 10 и 12, производства «Баркаб», в прицеп типа «ЕВРОФУРА»
      .swiper-slide(style="background-image: url(img/04.jpg)")
        p Погрузка комплектов барабанов № № 8, 10 и 12, производства «Баркаб», в прицеп типа «ЕВРОФУРА»
      .swiper-slide(style="background-image: url(img/05.jpg)")
        p Погрузка комплектов барабанов № 36Д, производства «Баркаб», на прицеп-трал (поставка 8 комплектов)
      .swiper-slide(style="background-image: url(img/06.jpg)")
        p Барабаны производства «БАРКАБ» № 10У с геофизическим кабелем на специальных поддонах, подготовленные к отгрузке
    .swiper-button-next.swiper-gallery-next
      img(src="img/arrow.png", alt="")
    .swiper-button-prev.swiper-gallery-prev
      img(src="img/arrow.png", alt="")
    .swiper-pagination