section.geography#geography
  .container
    .row
      .col-xs-12
        .heading
          h2 География
          p Доставка кабельной продукции, гибких труб, металлических тросов на наших барабанах осуществляется во многие страны мира и по всей территории России различными видами транспорта.
      .col-xs-12.center-xs
        .geography__map
          img(src="img/map.svg")
          .geography__block.peru
            .pin
            .geography__block__text
              h4 Республика Перу
              p Силовой кабель из сшитого полиэтилена на деревянных барабанах БАРКАБ No 36 был успешно доставлен в трюме морского судна в Республику Перу
          .geography__block.bulgaria
            .pin
            .geography__block__text
              h4 Болгария
              p Силовой кабель из сшитого полиэтилена на деревянных барабанах БАРКАБ был успешно доставлен в Европейские государства
          .geography__block.slovakia
            .pin
            .geography__block__text
              h4 Словакия
              p Силовой кабель из сшитого полиэтилена на деревянных барабанах БАРКАБ был успешно доставлен в Европейские государства
          .geography__block.croatia
            .pin
            .geography__block__text
              h4 Хорватия
              p Силовой кабель из сшитого полиэтилена на деревянных барабанах БАРКАБ был успешно доставлен в Европейские государства
          .geography__block.norway
            .pin
            .geography__block__text
              h4 Норвегия
              p Деревянные барабаны БАРКАБ No К20 для транспортировки силового кабеля были поставлены на базу ОАО "СЕВМОРНЕФТЕГЕОФИЗИКА" в Королевство Норвегии
          .geography__block.finland
            .pin
            .geography__block__text
              h4 Финляндия
              p Произведенный в РФ силовой кабель на деревянных барабанах БАРКАБ No К20 был поставлен в Финляндию
          .geography__block.kyrgyzstan
            .pin
            .geography__block__text
              h4 Киргизия
              p Силовой кабель из сшитого полиэтилена на деревянных барабанах БАРКАБ был успешно доставлен в страны ЕАЭС
          .geography__block.belarus
            .pin
            .geography__block__text
              h4 Белоруссия
              p Силовой кабель из сшитого полиэтилена на деревянных барабанах БАРКАБ был успешно доставлен в страны ЕАЭС
          .geography__block.kazakhstan
            .pin
            .geography__block__text
              h4 Казахстан
              p Силовой кабель из сшитого полиэтилена на деревянных барабанах БАРКАБ был успешно доставлен в страны ЕАЭС
          .geography__block.blagoveshchensk
            .pin
            .geography__block__text
              h4 Благовещенск
              p Оптические кабели связи поставляются морским, железнодорожным и автотранспортом на деревянных барабанах БАРКАБ на Дальний Восток
          .geography__block.peaceful
            .pin
            .geography__block__text
              h4 Мирный
              p Оптические кабели связи поставляются морским, железнодорожным и автотранспортом на деревянных барабанах БАРКАБ на Дальний Восток
          .geography__block.vladivostok
            .pin
            .geography__block__text
              h4 Владивосток
              p Оптические кабели связи поставляются морским, железнодорожным и автотранспортом на деревянных барабанах БАРКАБ на Дальний Восток
          .geography__block.sakhalin
            .pin
            .geography__block__text
              h4 О. Сахалин
              p Оптические кабели связи были поставлены морским путем на деревянных барабанах БАРКАБ на о. Сахалин
          .geography__block.magadan
            .pin
            .geography__block__text
              h4 Магадан
              p Оптические кабели связи поставляются морским, железнодорожным и автотранспортом на деревянных барабанах БАРКАБ на Дальний Восток
          .geography__block.petropavlovsk
            .pin
            .geography__block__text
              h4 г. Петропавловск-Камчатский
              p На деревянных баранах БАРКАБ No 30с гибкая теплоизолированная труба успешно доставлена морским судном в г. Петропавловск-Камчатский
        .swiper-container.swiper-geography
          img(src="img/map.svg")
          .swiper-wrapper
            .swiper-slide
              h4 Республика Перу
              p Силовой кабель из сшитого полиэтилена на деревянных барабанах БАРКАБ No 36 был успешно доставлен в трюме морского судна в Республику Перу
            .swiper-slide
              h4 Дальний Восток
              p Оптические кабели связи поставляются морским, железнодорожным и автотранспортом на деревянных барабанах БАРКАБ на Дальний Восток
            .swiper-slide
              h4 Остров Сахалин
              p Оптические кабели связи были поставлены морским путем на деревянных барабанах БАРКАБ на о. Сахалин
            .swiper-slide
              h4 Петропавловск-Камчатский
              p На деревянных баранах БАРКАБ No 30с гибкая теплоизолированная труба успешно доставлена морским судном в г. Петропавловск-Камчатский
            .swiper-slide
              h4 Норвегия
              p Деревянные барабаны БАРКАБ No К20 для транспортировки силового кабеля были поставлены на базу ОАО "СЕВМОРНЕФТЕГЕОФИЗИКА" в Королевство Норвегии
            .swiper-slide
              h4 Финляндия
              p Произведенный в РФ силовой кабель на деревянных барабанах БАРКАБ No К20 был поставлен в Финляндию
            .swiper-slide
              h4 Страны ЕАЭС
              p Силовой кабель из сшитого полиэтилена на деревянных барабанах БАРКАБ был успешно доставлен в страны ЕАЭС
            .swiper-slide
              h4 Европейские государства
              p Силовой кабель из сшитого полиэтилена на деревянных барабанах БАРКАБ был успешно доставлен в Европейские государства
          .swiper-button-next.swiper-geography-next
            img(src="img/arrow.png", alt="")
          .swiper-button-prev.swiper-geography-prev
            img(src="img/arrow.png", alt="")