section.geography#geography
  .container
    .row
      .col-xs-12
        .heading
          h2 География
          p Доставка кабельной продукции, гибких труб, металлических тросов на наших барабанах осуществляется во многие страны мира и по всей территории России различными видами транспорта.
      .col-xs-12.center-xs
        .geography__map
          img(src="img/map.svg")
          .geography__block.peru
            .pin
            .geography__block__text
              h4 Республика Перу
              p Силовой кабель с изоляцией из сшитого полиэтилена был успешно доставлен в трюме морского судна в Республику Перу на деревянный барабанах № 36 производства БАРКАБ.
          .geography__block.bulgaria
            .pin
            .geography__block__text
              h4 Республика Перу
              p Силовой кабель с изоляцией из сшитого полиэтилена был успешно доставлен в трюме морского судна в Республику Перу на деревянный барабанах № 36 производства БАРКАБ.
          .geography__block.slovakia
            .pin
            .geography__block__text
              h4 Республика Перу
              p Силовой кабель с изоляцией из сшитого полиэтилена был успешно доставлен в трюме морского судна в Республику Перу на деревянный барабанах № 36 производства БАРКАБ.
          .geography__block.croatia
            .pin
            .geography__block__text
              h4 Республика Перу
              p Силовой кабель с изоляцией из сшитого полиэтилена был успешно доставлен в трюме морского судна в Республику Перу на деревянный барабанах № 36 производства БАРКАБ.
          .geography__block.norway
            .pin
            .geography__block__text
              h4 Республика Перу
              p Силовой кабель с изоляцией из сшитого полиэтилена был успешно доставлен в трюме морского судна в Республику Перу на деревянный барабанах № 36 производства БАРКАБ.
          .geography__block.finland
            .pin
            .geography__block__text
              h4 Республика Перу
              p Силовой кабель с изоляцией из сшитого полиэтилена был успешно доставлен в трюме морского судна в Республику Перу на деревянный барабанах № 36 производства БАРКАБ.
          .geography__block.kyrgyzstan
            .pin
            .geography__block__text
              h4 Республика Перу
              p Силовой кабель с изоляцией из сшитого полиэтилена был успешно доставлен в трюме морского судна в Республику Перу на деревянный барабанах № 36 производства БАРКАБ.
          .geography__block.belarus
            .pin
            .geography__block__text
              h4 Республика Перу
              p Силовой кабель с изоляцией из сшитого полиэтилена был успешно доставлен в трюме морского судна в Республику Перу на деревянный барабанах № 36 производства БАРКАБ.
          .geography__block.kazakhstan
            .pin
            .geography__block__text
              h4 Республика Перу
              p Силовой кабель с изоляцией из сшитого полиэтилена был успешно доставлен в трюме морского судна в Республику Перу на деревянный барабанах № 36 производства БАРКАБ.
          .geography__block.blagoveshchensk
            .pin
            .geography__block__text
              h4 Республика Перу
              p Силовой кабель с изоляцией из сшитого полиэтилена был успешно доставлен в трюме морского судна в Республику Перу на деревянный барабанах № 36 производства БАРКАБ.
          .geography__block.peaceful
            .pin
            .geography__block__text
              h4 Республика Перу
              p Силовой кабель с изоляцией из сшитого полиэтилена был успешно доставлен в трюме морского судна в Республику Перу на деревянный барабанах № 36 производства БАРКАБ.
          .geography__block.vladivostok
            .pin
            .geography__block__text
              h4 Республика Перу
              p Силовой кабель с изоляцией из сшитого полиэтилена был успешно доставлен в трюме морского судна в Республику Перу на деревянный барабанах № 36 производства БАРКАБ.
          .geography__block.sakhalin
            .pin
            .geography__block__text
              h4 Республика Перу
              p Силовой кабель с изоляцией из сшитого полиэтилена был успешно доставлен в трюме морского судна в Республику Перу на деревянный барабанах № 36 производства БАРКАБ.
          .geography__block.magadan
            .pin
            .geography__block__text
              h4 Республика Перу
              p Силовой кабель с изоляцией из сшитого полиэтилена был успешно доставлен в трюме морского судна в Республику Перу на деревянный барабанах № 36 производства БАРКАБ.
          .geography__block.petropavlovsk
            .pin
            .geography__block__text
              h4 Республика Перу
              p Силовой кабель с изоляцией из сшитого полиэтилена был успешно доставлен в трюме морского судна в Республику Перу на деревянный барабанах № 36 производства БАРКАБ.