section.geography
  .container
    .row
      .col-xs-12
        .heading
          h2 География
          p Доставка кабельной продукции, гибких труб, металлических тросов на наших барабанах осуществляется во многие страны мира и по всей территории России различными видами транспорта.