section.individual-order
  .container
    .row
      .col-xs-12.center-xs
        .heading.heading--white
          h2 Изготовление по вашим технологическим условиям
          p Предприятие БАРКАБ изготавливает деревянные барабаны любой сложности по индивидуальному проекту.
        a(href="#cooperation").menu2.btn Коммерческое предложение
