section.intro
  .container
    .row.center-xs
      .col-xs-12
        .intro__logo
          img(src="img/logo.svg", alt="")
      .col-md-10.col-xs-12
        h1 Производство деревянных барабанов
        p Более 10 лет персонал предприятия <b>БАРКАБ</b> специализируется на изготовлении данного вида деревянной тары.
        a(href="#").btn Смотреть презентацию
          i.icon.icon-play
        span Длительность 90 секунд