section.map
  .map__block-info
    i.icon-icon-36
    h2 МО, Щелковский р-он,<br> п. Литвиново
    p Автобусная остановка «Хутор», поворот налево сразу же за Автобусной остановкой.
    p Время работы: с <span>10:00</span> до <span>21:00</span> ежедневно
    .map__block-info__phone
      a(href="tel:89055993001") 8 (905) 599-30-01
    .map__block-info__mail
      a(href="mailto:taktika2012@yandex.ru") taktika2012@yandex.ru
    a(href="#pop-up-2" data-pop).btn.btn--map Заказать обратный звонок
  a(href="#").map__block-panorama
    i.icon.icon-info-map
    p Яндекс.панорама
  #map