section.map
  .contacts#contacts
    h2 Контакты
    span Адрес
    p 187550, Ленинградская область,<br> город Тихвин, Красавское шоссе, 1г.
    span Телефон
    a(href="tel:+78136751999") +7 (813) 67-51-999
    span WhatsApp, Telegram
    a(href="tel:+78136751999") +7 (921) 789-17-42
    span E-mail
    a(href="maolto:inbox@barkab.ru") inbox@barkab.ru
  #map