section.reliability#reliability
  .container
    .row.middle-xs
      .col-xs-12
        .heading
          h2 Надёжность
          p За годы работы предприятие <span>БАРКАБ</span> зарекомендовало себя как надёжного производителя и поставщика деревянных барабанов.
        .swiper
          .swiper-container.swiper-reliability
            .swiper-wrapper
              .swiper-slide
                a(href="#")
                  img(src="img/svelen.png" srcset="img/svelen@2x.png 2x, img/svelen@3x.png 3x")
              .swiper-slide
                a(href="#")
                  img(src="img/estralin.png" srcset="img/estralin@2x.png 2x, img/estralin@3x.png 3x")
              .swiper-slide
                a(href="#")
                  img(src="img/rosgeo.png" srcset="img/rosgeo@2x.png 2x, img/rosgeo@3x.png 3x")
              .swiper-slide
                a(href="#")
                  img(src="img/izola.png" srcset="img/izola@2x.png 2x, img/izola@3x.png 3x")
              .swiper-slide
                a(href="#")
                  img(src="img/sevcab.png" srcset="img/sevcab@2x.png 2x, img/sevcab@3x.png 3x")
          .swiper-button-next.swiper-reliability-next
            img(src="img/arrow.png", alt="")
          .swiper-button-prev.swiper-reliability-prev
            img(src="img/arrow.png", alt="")