section.reliability
  .container
    .row.middle-xs
      .col-xs-12
        .heading
          h2 Надёжность
          p За годы работы предприятие <span>БАРКАБ</span> зарекомендовало себя как надёжного производителя и поставщика деревянных барабанов.
        .swiper
          .swiper-container.swiper-reliability
            .swiper-wrapper
              .swiper-slide
                img(src="http://via.placeholder.com/270x390", alt="")
              .swiper-slide
                img(src="http://via.placeholder.com/270x390", alt="")
              .swiper-slide
                img(src="http://via.placeholder.com/270x390", alt="")
              .swiper-slide
                img(src="http://via.placeholder.com/270x390", alt="")
              .swiper-slide
                img(src="http://via.placeholder.com/270x390", alt="")
              .swiper-slide
                img(src="http://via.placeholder.com/270x390", alt="")
          .swiper-button-next.swiper-reliability-next
            img(src="img/arrow.png", alt="")
          .swiper-button-prev.swiper-reliability-prev
            img(src="img/arrow.png", alt="")