section.reliability#reliability
  .container
    .row.middle-xs
      .col-xs-12
        .heading
          h2 Надёжность
          p За годы работы предприятие <span>БАРКАБ</span> зарекомендовало себя как надёжного производителя и поставщика деревянных барабанов.
        .swiper
          .swiper-container.swiper-reliability
            .swiper-wrapper
              .swiper-slide
                a(href="#")
                  img(src="img/1-st-mail.png" srcset="img/1-st-mail@2x.png 2x, img/1-st-mail@3x.png 3x")
              .swiper-slide
                a(href="#")
                  img(src="img/2-nd-mail.png" srcset="img/2-nd-mail@2x.png 2x, img/2-nd-mail@3x.png 3x")
              .swiper-slide
                a(href="#")
                  img(src="img/3-rd-mail.png" srcset="img/3-rd-mail@2x.png 2x, img/3-rd-mail@3x.png 3x")
              .swiper-slide
                a(href="#")
                  img(src="img/4-th-mail.png" srcset="img/4-th-mail@2x.png 2x, img/4-th-mail@3x.png 3x")
              .swiper-slide
                a(href="#")
                  img(src="img/1-st-mail.png" srcset="img/1-st-mail@2x.png 2x, img/1-st-mail@3x.png 3x")
              .swiper-slide
                a(href="#")
                  img(src="img/1-st-mail.png" srcset="img/1-st-mail@2x.png 2x, img/1-st-mail@3x.png 3x")
          .swiper-button-next.swiper-reliability-next
            img(src="img/arrow.png", alt="")
          .swiper-button-prev.swiper-reliability-prev
            img(src="img/arrow.png", alt="")