section.standards
  .container
    .row
      .col-xs-12.center-xs
        .heading
          h2 Изготовление по стандартам
          p Предприятие <span>БАРКАБ</span> производство изделий по стандартам ГОСТ 5151-79 и ГОСТ 11127-78.
    .standards__content
      .row
        .col-xs-4
          .standards__calculator
            .standards__calculator__range
              input(type="range" id="range" data-orientation="vertical")
            .standards__calculator__info
              h4 Барабан №30а <br>ГОСТ 5151-79
              p Диаметр щеки (D): 
                span 3000 
                | мм
              p Ширина шейки (L): 
                span 1700 
                | мм
              p Диаметр шейки (D1): 
                span 2500 
                | мм
              p Толщина щеки (S): 
                span 96 
                | мм
              p Шпильки: 
                span 10 
                | шт
        .col-xs-8
          .standards__img
            img(src="img/h.svg")
            img(src="img/man.svg")
    .row
      .col-xs-12.center-xs
        .standards__description
          p Мы представим коммерческое предложение на основании разработанных для вас технических характеристик нужного типа барабана.
          a(href="#").btn Коммерческое предложение
          