section.status#status
  .container
    .row
      .col-xs-12
        img(src="img/baraban.png" srcset="img/baraban@2x.png 2x, img/baraban@3x.png 3x").baraban
        .heading.heading--white
          h2 Производственные мощности 
          p <span>БАРКАБ</span> — лидер по производству деревянных барабанов в Санкт-Петербурге и Ленинградской области.
        .status__block
          .row.middle-xs
            .col-xs-2.end-xs
              b Более
            .col-xs-7
              span 10 000
            .col-xs-3
              img(src="img/o.svg")
          p комплектов и собранных барабанов в год