.footer
  background-color: $brownish-grey
  position: relative
  &__content
    padding: 50px 60px
  &__confidentiality
    p
      font-size: 14px
      letter-spacing: 0.5px
      color: $pinkish-grey
      padding-bottom: 5px
    a
      font-size: 14px
      letter-spacing: 0.5px
      color: $pale-gold
  &__logo
    display: flex
    align-items: center
    img
      margin-right: 30px
      width: 100px
  &__creator
    display: flex
    justify-content: flex-end
    align-items: center
    color: $pinkish-grey
    text-align: right
    &__text
      margin-right: 30px
      p
        font-size: 14px
        letter-spacing: 0.5px
        text-align: right
        padding-bottom: 5px
  .up
    position: absolute
    right: 0
    top: 36%
    transform: translate(-50%) 
    opacity: 0.3
    transition: all 0.3s
    &:hover
      opacity: 1 
    i
      font-size: 35px
      color: $pale-gold-two